<div>
  <md-toolbar color="primary">
    <span><md-icon>mood</md-icon></span>
    <span>C2C user statistics</span>
  </md-toolbar>
  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>Option 1</button>
    <button md-menu-item>Option 2</button>
  </md-menu>

  <md-card>
    <md-input-container>
      <input mdInput type="number" placeholder="Enter user ID" [formControl]="userIdControl">
    </md-input-container>
    <md-chip-list>
      <md-chip selected="true" color="accent">{{data.length}} outings</md-chip>
    </md-chip-list>
  </md-card>

  <md-card>
    <md-card-title>Total accumulated elevation</md-card-title>
    <app-elevation-chart [outings]="data"></app-elevation-chart>
  </md-card>

  <span class="done">
    <button md-fab>
      <md-icon>check circle</md-icon>
    </button>
  </span>
</div>