<div>
  <md-toolbar color="primary">
    <span>C2C user statistics</span>
    <span class="app-toolbar-filler"></span>
    <button md-button (click)="openLoginDialog()" *ngIf="!auth.authenticated">LOGIN</button>
    <div *ngIf="auth.authenticated">
      <button md-button [mdMenuTriggerFor]="userMenu">Toto <md-icon>arrow drop down</md-icon></button>
      <md-menu #userMenu="mdMenu">
        <button md-menu-item (click)="logout()" *ngIf="auth.authenticated">LOGOUT</button>
      </md-menu>
    </div>
  </md-toolbar>

  <div *ngIf="!auth.authenticated">
    <p>Blah blah</p>
    <button md-raised-button (click)="openLoginDialog()">LOGIN</button>
  </div>

  <div *ngIf="auth.authenticated">
    <md-card>
      <app-search (onUserSelect)="onUserSelect($event)"></app-search>
      <div [ngSwitch]="dataStatus">
        <p *ngSwitchCase="'failed'">Data retrieval failed. Please try again later.</p>
      </div>
    </md-card>

    <md-card *ngIf="dataStatus == 'pending' || dataStatus == 'fulfilled'">
      <md-spinner *ngIf="dataStatus == 'pending'"></md-spinner>
      <p *ngIf="dataStatus == 'fulfilled'"><a href="//www.camptocamp.org/profiles/{{user.document_id}}">{{user.name}} ({{user.forum_username}})</a> has entered
        {{data.length}} outings.</p>
    </md-card>

    <md-card *ngIf="showCharts">
      <md-card-header>
        <md-card-title>Total accumulated elevation</md-card-title>
      </md-card-header>
      <md-card-content>
        <app-elevation-chart [outings]="data"></app-elevation-chart>
      </md-card-content>
    </md-card>

    <md-card *ngIf="showCharts">
      <md-card-header>
        <md-card-title>Areas</md-card-title>
      </md-card-header>
      <md-card-content>
        <app-areas-chart [outings]="data"></app-areas-chart>
      </md-card-content>
    </md-card>
  </div>
</div>
