@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

mat-card { /* stylelint-disable-line selector-type-no-unknown */
  max-width: 90%;
  margin: 2em auto;
  text-align: center;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}
