@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/britecharts/dist/css/common/common.min.css';
@import '../node_modules/britecharts/dist/css/charts/bar.min.css';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

app-root > div {
  overflow-x: hidden;
}

mat-card { /* stylelint-disable-line selector-type-no-unknown */
  width: 90%;
  max-width: 1000px;
  margin: 2em auto;
  text-align: center;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

/* override charts styles */

.tick text {
  font-size: 0.9rem !important;
}
